body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50 auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

p{
    line-height: 2;
}

hr{
    border: dotted; 
    border-bottom: none;
    width: 5%;
    margin: 100px auto 100px auto;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

.top-container {
    background-color: #334756;
    position: relative;
    padding-top: 100px;
    padding-bottom: 50px;
}

.profile-image {
    position: relative;
    width: 38%;
    float: left;
    bottom: 100px;    
}

.title {
    text-decoration: underline;
}


.middle-container {
    background-color: slategrey;
    position: relative;
    padding: 50px;
}

.intro{
    width: 30%;
    margin: auto;
}

.skills {
    text-align: center;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.food {
    position: relative;
    width: 150px;
    height: 150px;
    margin-left: 30px;

}

.work {
    position: relative;
    width: 30%;
    float: left;
    margin-right: 30px;
}

.games {
    width: 150px;
    height: 150px;
    margin-left: 30px;
}

.bottom-container {
    background-color: darkslategray;
    position: relative;
    padding: 50px;
}

/* CLASS Selectors */
.tab {
    margin: 10px 10px 10px 10px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.footer-link{
    padding: 20px;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75em;
    padding: 20px 0;
}